/* Colors Primary */
$red:  hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);
/* Colors Neutral */
$very-dark-blue: hsl(234, 12%, 34%);
$shadow-dark-blue: hsla(234, 12%, 34%,0.06);
$shadow-blue: hsla(212, 86%, 64%,0.16);
$grayish-blue: hsl(229, 6%, 66%);
$very-light-gray: hsl(0, 0%, 98%);
$white:white;
/* Tipograhy */
$font-size--large:1.5625rem;
$font-size--tiny:0.75rem;
$font-size: 0.9375rem;
$font-small:200;
$font-medium:400;
$font-large:600;
$font-family:"Poppins", sans-serif;
